{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>2023 Philadelphia Convention - Registration</title>

    <!-- Bootstrap CSS from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% block result %}
                {% if code %}
                <div class="mb-4 text-center shadow-lg p-4 border">
                    <p>欢迎来到2023特会！</p>
                    <h4>您的报到号码为</h4>
                    <h4>Your registration number is</h4>
                    <h1 class="text-primary">{{ code }}</h1>
                </div>
                {% endif %}
            {% endblock %}
                <form action="/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="participants_dropdown">您的名字 Your Name:</label>
                        <select name="participants_dropdown" class="form-control" id="participants_dropdown" data-live-search="true">
                            {% for item in participants %}
                                <option 
                                {% if selected_name == item %} selected {% endif %} 
                                value="{{ item }}"> {{ item }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input class="my-4 btn btn-primary d-block w-100" type="submit" value="提交 Submit">
                </form>
                

            </div>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js from CDN -->
    
    <script>
        $(document).ready(function() {
            $('#participants_dropdown').select2();
        });

   </script>
</body>
</body>
</html>
